# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/

# Environment variables
.env

# Uploaded files
uploads/*
!uploads/.gitkeep

# OCR / ML model files
*.pth
*.pt

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/
.coverage